.project {
    width: 100vw;
    display: block;
    text-decoration: none;
    margin-bottom: 64px;
    height: auto;
}

.last {
    margin-bottom: 0;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project h5 {
    font-family: 'Novecentosanswide-Light', 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: var(--color-theme-text);
}

.imgWrapper {
    width: 100vw;
    margin: 0 auto;
}

.img {
    min-width: 100vw;
    height: auto;
    max-width: 100vw;
}

.featured img:last-child {
    margin-top: -4px !important;
}

.accent {
    width: 24px;
    height: 8px;
    border-top: 1px solid var(--color-theme-accent);
    display: inline-block;
}

.accent:first-child {
    margin-right: 8px;
}

.accent:last-child {
    margin-left: 8px;
}

@media (min-width: 980px) {
    .project h5 {
        max-width: 50vw;
    }

    .project img {
        min-width: 50vw;
        max-width: 50vw;
    }

    .accent {
        width: 32px;
    }
}