.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introText {
    color: var(--color-theme-text);

}

.introText span {
    display: block;
}

.summary {
    color: var(--color-theme-subtext);
}
