.introLink {
    margin: 0 8px 0 0;
}

.introLink a {
    color: var(--color-theme-subtext);
    text-decoration: none;
    transition: color 0.2s;
}

.introLink a:hover {
    color: var(--color-theme-text);
}

.introLink:after {
    content: '|';
    margin-left: 8px;
    display: inline-block;
    font-family: 'Novecentosanswide-Book', 'Open Sans', Helvetica, Arial, sans-serif;
}

.introLink:first-child {
    margin-left: 0;
}

.introLink:last-child {
    margin-right: 0;
}

.introLink:last-child:after {
    content: none;
}
