<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>emkolar.ninja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if IE]>
    <meta name="X-UA-Compatible" content="IE=edge">
    <![endif]-->

    <meta name="apple-mobile-web-app-title" content="emkolar.ninja">
    <meta name="application-name" content="emkolar.ninja">
    <meta name="theme-color" content="#db6061">

    <!-- normalize -->
    <link rel="stylesheet" href="./styles/normalize.css" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

    <!-- base styles -->
    <link rel="stylesheet" href="./styles/global.css" />

</head>
<body>
    <div id="app"></div>
    <div id="modalRoot"></div>

    <!--<script src="./scripts/animation.js"></script>-->
    <script src="./vendor/three.min.js"></script>
    <script src="./scripts/vr.js"></script>
</body>
</html>
